#pokemon-card-list-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
  }

#search-box {
  width: 200px;
  margin: 20px 0;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
}

#search-box:focus {
  outline: none;
  border: 2px solid lightblue;
  box-shadow: 0 0 10px 2px lightblue;
}